*{
	box-sizing: border-box; 

}
body{
	margin: 0px;
	padding: 0px;
	font-family: 'Source Sans Pro',  sans-serif;
}

.cabecalho-topo{
	width: 1024px;
}

.topo{
	width: 100%;
	background-color: #fff;
	position: fixed;
	border: 1px solid #d5d5d5;
}

.topo  .cabecalho-topo{
	display: flex;
	height: 60px;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	margin: 0 auto;
}

.link-topo{
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	margin: auto 10px;
}

.link-topo:hover {
  border-bottom: 3px solid #0a9077;
}

.link-titulo{
	font-size: 30px;
	text-decoration: none;
	color: black;
}

.link-titulo span{
	color: lightblue;
}

.titulo-inicio{
	height: 100vh;
	background-image: url('img-fundo.jpg');
	background-size: 100%;
	background-repeat: no-repeat;

	display: flex;
	align-items: center;
	justify-content: center;
}

.descricao-inicio{
	font-size: 28px;
	color: #fff;
	background-color: #0a9077b3;
	padding: 0px 10px;
	border: 1px solid;
	border-radius: 4px;
	text-align: center;
}


.secao-container{	
	text-align: center;
	padding-top: 50px;
}

.secao-container h2{
	font-weight: 500;
	font-size: 34px;
	text-transform: uppercase;

}

.quartos{
	display: flex;
	justify-content: space-between;
}

.quarto{
	padding-bottom: 20px;
	margin-right: 30px;
	border-bottom: 2px solid #00836a;
	color: #3d3d3d;
}

.quarto:hover{
	border-bottom: 3px solid #0a9077b3;
	font-size: 18px;
}

.quarto a{
	text-align: center;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
}



.quarto:last-child{
	margin-right: 0px ;
}

.tamanho-maximo-container {
  max-width: 1024px;
  margin: 0 auto;
}

img{
	width: 100%;
}

.rota iframe{
	height: calc(100vh/3);
	width: 100%;
}

.descricao-pousada{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	
}

.descricao-topico{
	margin: 20px 10px;
	width: 45%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	}


.descricao-topico img{
		width: 110px;
		height: 130px;
		object-fit: cover;
}

.copyright{
	text-align: center;
	padding: 20px;
	border-top: 1px solid #3b7863;
	font-weight: 600;
	
}
.rodape{
	background-color: #49997d;
  color:#fff;

}

.rodape h4{
	font-size: 22px;
}

.rodape-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.rodape-container img{
	width: 40px;
	height: 40px;
	margin-right: 10px ;
}

.rodape-container a{
	text-decoration: none;
	color: #fff;
	display: flex;
	align-items: center;
	
}

.rodape-info{
	width: 23%;
	display: flex;
	align-items: center;
}
